{% set links %}
  <div>
    {% if prev_uri %}
      <a href='{{ prev_uri }}' style="float:left">Prev post</a>
    {% endif %}
    {% if next_uri %}
      <a href='{{ next_uri }}' style="float:right">Next post</a>
    {% endif %}
    <a href='.' style="display:block;margin:auto;width:fit-content">Archive</a>
    <div style="clear:both"></div>
  </div>
{% endset %}

{{ links }}

{{ html | safe }}

<footer>
  Written by {{ authors | join(', ') }}
  {% if keywords|length > 0 %}
    <br>Keywords {{ keywords | join(', ') }}
  {% endif %}
</footer>

{{ links }}
