<h1>Directory Listing for {{ name }}</h1>

<p>Listing {{ rows | length }} entries.</p>

<table>
    <tr>
        <th>Filename</th>
        <th>Modified</th>
        <th>Size</th>
    </tr>
    {% if not is_root %}
        <tr>
            <td><a href='..'>../</a></td>
            <td>--</td>
            <td>--</td>
        </tr>
    {% endif %}
    {% for row in rows %}
        <tr>
            <td><a href='{{ row.name }}'>{{ row.name }}</a></td>
            <td>{{ row.modified }}</td>
            <td>{{ row.size }}</td>
        </tr>
    {% endfor %}
</table>
