<h1>Image Listing for {{ name }}</h1>

<p>Listing {{ rows | length }} entries.</p>

<table>
    <tr>
        <th>Thumbnail</th>
        <th>Filename</th>
        <th>Modified</th>
        <th>Size</th>
    </tr>
    {% for row in rows %}
        <tr>
            <td>
            {% if row.is_img %}
                <img src='{{ row.name }}?xform=thumbnail'/>
            {% endif %}
            </td>
            <td><a href='{{ row.name }}'>{{ row.name }}</a></td>
            <td>{{ row.modified }}</td>
            <td>{{ row.size }}</td>
        </tr>
    {% endfor %}
</table>
