<h1>Upload Files</h1>

<div>
<form enctype="multipart/form-data" action="form" method="POST">
  <input type="hidden" name="MAX_FILE_SIZE" value="{{ max_bytes }}" />

  <ul>
    <li>
      <label for="upload">Select files to upload:</label><br />
      <input id="upload" name="upload" type="file" multiple="multiple" />
    </li>
    <li>
      <label for="do-list">Display uploads as list:</label>
      <input id="do-list" name="do-list" type="checkbox" />
    </li>
  </ul>

  <input type="submit" value="Upload" />
</form>
</div>

<small>Maximum file size: {{ max_bytes }} bytes</small>
